html {
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.flex-box {
  display: flex;
}

.column {
  flex-direction: column;
}

/* ヘッダー部分 */

header {
  position: relative;
  height: 85px;
  background-color: #fff;
}

main {
  background-color: #000;
}

.header-inner {
  justify-content: space-between;
  margin: 30px 30px 0 30px;
}

#voice-select {
  position: absolute;
  top: -500px;
}

#cage-voice-select {
  position: absolute;
  top: -1000px;
}

#start-btn {
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

#start-btn:hover {
  opacity: 0.7;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

/* セガール画像部分 */

.img-advice-wrapper {
  margin: 0 50px 0 50px;
}

.segal-img-wrapper {
  width: 450px;
  height: 450px;
  position: relative;
  border: 1px solid #000;
  background-color: rgb(0, 0, 0);
}

.segal-img-inner.close {
  display: none;
}
.segal-img-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

/* アドバイス部分 */

.advice-wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.advice-en-wrapper {
  height: 33%;
  text-align: center;
}

.advice-translate-wrapper {
  height: 33%;
  text-align: center;
}

.advice-text {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.advice-translate-text {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.advice-hiragana-wrapper {
  height: 33%;
  text-align: center;
}

.advice-hiragana-text {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.footer-inner-wrapper {
  width: 600px;
  margin: 0 auto;
  justify-content: space-between;
}

.cage-img-wrapper {
  width: 200px;
  height: 200px;
  position: relative;
  border: 1px solid #000;
  background-color: rgb(0, 0, 0);
}
.cage-img-inner.close {
  display: none;
}
.cage-img-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.reply-text-wrapper {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin-top: 70px;
}
.reply-text-inner {
  color: gold;
}

#cage-btn {
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.cage-btn.close {
  display: none;
}
